{% extends 'content_base.html.twig' %}

{% block title %}{% trans %}Admin dự án{% endtrans %} {% endblock %}


{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage post ({{ pagination.getTotalItemCount }})</h1>

            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="find_post"
                           class="form-control"
                           value="{{ app.request.query.get('q') }}"
                           placeholder="rechercher par titre ou commentaire"
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans %}Dự án{% endtrans %}</th>
                    <th>{% trans %}Người tạo{% endtrans %}</th>
                    <th>{% trans %}Số người đã quyên góp{% endtrans %}</th>
                    <th>TEST - custom field after</th>
                    <th>{% trans %} Quá trình {% endtrans %}</th>
                    <th>{% trans %} Quyết định {% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for postInfo in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('show_post', {'uniquekey': postInfo.uniqueKey}) }}">
                                {{ postInfo.title }}
                            </a>
                        </td>
                        <td>
                            {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                        </td>
                        <td style="width: 20%;">
                            {{ postInfo.numberParticipant}}
                        </td>
                        <td>
                            {{ postInfo.publishedAt|date('d-m-Y') }}
                        </td>
                        <td>
                            {{ postInfo.status.status }}
                        </td>
                        <td>
                            <a href="" class="btn btn-primary"><i class="fas fa-check"></i></a>
                    
                            <a href="" class="btn btn-danger"> <i class="fas fa-minus-circle"></i></a>
                            <a href="{{ path('admin_show_post', {uniquekey: postInfo.uniquekey}) }}" class="btn btn-warning"> <i class="fas fa-search"></i></a>
             
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No comments found - custom translate after
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
