{% extends 'content_base.html.twig' %}

{% block title %}{% trans %}Admin dự án{% endtrans %} {% endblock %}


{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{% trans %}Danh sách các dự án {% endtrans %} <small>({{ pagination.getTotalItemCount }} {% trans %} dự án){% endtrans %}</small> </h1>


                {{ form_start(form) }}

                <div class="row">
                    <div class="col">
                        {{ form_row(form.PostTitle) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.status) }}
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block form-control" type="submit" style="height: 38px;">
                                {% trans %}Tìm kiếm{% endtrans %}
                            </button>
                        </div>

                    </div>

                </div>



                {{ form_end(form) }}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans %}Dự án{% endtrans %}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>{% trans %}Người tạo{% endtrans %}</th>
                    {% endif %}
                    <th>{% trans %}Số tiền đã nhận đã nhận{% endtrans %}</th>
                    <th>{% trans %}Số tiền kêu gọi{% endtrans %}</th>

                    <th>{% trans %} Quá trình {% endtrans %}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>{% trans %} Quyết định {% endtrans %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for postInfo in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('show_post', {'uniquekey': postInfo.uniqueKey}) }}">
                                {{ postInfo.title }}
                            </a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                        </td>
                        {% endif %}
                        <td>
                            {{ postInfo.getTransactionSum}}
                        </td>
                        <td>

                            {{ postInfo.targetAmount }}
                        </td>

                        <td>
                            {% set status = postInfo.status.id %}

                            {% if status ==  statusArray['POST_DRAFT'] %}
                                {% trans %} Bản nháp {% endtrans %}
                            {% elseif status ==  statusArray['POST_WAITING_INFO'] %}
                                {% trans %}Thông tin cần bổ sung{% endtrans %}
                            {% elseif status ==  statusArray['POST_COLLECTING'] %}
                                {% trans %} Quyên góp {% endtrans %}
                            {% elseif status ==  statusArray['POST_TRANSFERT_FUND'] %}
                                {% trans %} Chuyển khoản {% endtrans %}
                            {% elseif status ==  statusArray['POST_CLOSE'] %}
                                {% trans %} Kết thúc {% endtrans %}
                            {% elseif status ==  statusArray['POST_STOP'] %}
                                {% trans %} Tạm ngừng {% endtrans %}
                            {% else %}
                                {% trans %} Chờ Admin kiểm duyệt{% endtrans %}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="" class="btn btn-primary"><i class="fas fa-check"></i></a>
                    
                            <a href="" class="btn btn-danger"> <i class="fas fa-minus-circle"></i></a>
                            <a href="{{ path('admin_show_post', {uniquekey: postInfo.uniquekey}) }}" class="btn btn-warning"> <i class="fas fa-search"></i></a>
             
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            {% trans %}Không có kết quả tìm kiếm{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
