{% extends 'base.html.twig' %}

{% block title %}{% trans %}Đăng ký tài khoản !{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{encore_entry_link_tags('login')}}
{% endblock %}
{# link template : https://bootsnipp.com/snippets/GavAo #}
{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="container alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center; margin-top: 1rem"> {% trans %}Đăng ký tài khoản{% endtrans %}</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button" onclick="location.href='{{ path('connect_facebook_start') }}'"><span><i class="fab fa-facebook-f"></i> {% trans %}Tạo tài khoản với Facebook{% endtrans %}</span> </button>
        </div>
        <p style="text-align:center">{% trans %} Hoặc đăng ký với tài khoản email của bạn {% endtrans %} </p>
        <div class="row">

                {{ form_start(registrationForm) }}

                {{ form_widget(registrationForm.firstname) }}
                {{ form_widget(registrationForm.lastname) }}
                {{ form_widget(registrationForm.email) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    {% trans %}Đăng ký{% endtrans %}
                </button>
                <a href="{{ path('app_login') }}" id="cancel_signup"><i class="fas fa-angle-left"></i>{% trans %} Quay trở lại {% endtrans %}</a>
                {{ form_widget(registrationForm) }}
                {{ form_end(registrationForm) }}



        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showpost.js') }}"></script>
{% endblock %}
