{% extends 'base.html.twig' %}

{% block title %}{% trans %} Reset mật khẩu {% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{# link template : https://bootsnipp.com/snippets/GavAo #}
{% block body %}
    <!-- example code to translate flash message: http://zetcode.com/symfony/translation/-->
    {% for message in app.flashes('echec') %}
        <div class="container alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id="logreg-forms">

            <div class="col-sm-12">
                {{ form_start(resetForm) }}

                {{ form_widget(resetForm.email) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    {% trans %}Đăng Ký{% endtrans %}
                </button>

                <a href="{{ path('app_login') }}" id="forgot_pswd"> {% trans %}Quay lại trang đăng nhập{% endtrans %}</a>
                {{ form_widget(resetForm) }}
                {{ form_end(resetForm) }}

            </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
