{% extends 'base.html.twig' %}

{% block title %}Select password!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{# link template : https://bootsnipp.com/snippets/GavAo #}
{% block body %}

    {% for message in app.flashes('echec') %}
        <div class="container alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id="logreg-forms">


        <div class="row">

            <div class="col-sm-12">
                {{ form_start(resetForm) }}

                {{ form_widget(resetForm.email) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Đăng Ký
                </button>
                {{ form_widget(resetForm) }}
                {{ form_end(resetForm) }}

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
