{% extends 'content_base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('admin') }}

{% endblock %}
{% block title %}
    {% trans %} Trang quản trị {% endtrans %}
{% endblock %}

{% block content_body %}
        <h1 style="text-align: center"> {% trans %} Trang quản trị {% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_post_admin') }}'">
                {% trans %}Danh sách các dự án{% endtrans %}
            </button>
        </div>

        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_list_validate_organisation') }}'">
                {% trans %}Yêu cầu tạo tổ chức{% endtrans %}
                {% if nbWaitingOrganisation != 0 %}
                    <div class="dot">{{ nbWaitingOrganisation }}</div>
                {% endif %}
            </button>
        </div>
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_admin_list_waiting_post') }}'">
                {% trans %}Dự án chờ phê duyệt{% endtrans %}
                {% if nbWaitingPost != 0 %}
                    <div class="dot">{{ nbWaitingPost }}</div>
                {% endif %}
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_admin_list_waiting_transfert_fund') }}'">
                {% trans %}Dự án chờ chuyển khoản{% endtrans %}
                {% if nb_finished_project != 0 %}
                    <div class="dot">{{ nb_finished_project }}</div>
                {% endif %}
            </button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <hr>
    <h1>{% trans %}Setting trang web{% endtrans %}</h1>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_admin_fees_parameter') }}'">
                {% trans %}Setting chi phí app{% endtrans %}
            </button>

        </div>
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_admin_info_parameter') }}'">
                {% trans %}Setting Info app{% endtrans %}
            </button>
        </div>
        <div class="col">
        </div>
    </div>

{% endblock %}