{% extends 'content_base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
  <style>
      .dot {
          height: 30px;
          width: 30px;
          background-color: red;
          color: white;

          border-radius: 50%;
          display: inline-block;
      }
  </style>


{% endblock %}
{% block title %}
    {% trans %} Trang quản trị {% endtrans %}
{% endblock %}

{% block content_body %}
        <h1 style="text-align: center"> {% trans %} Trang quản trị {% endtrans %}</h1>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_post_admin') }}'">
                {% trans %}Danh sách các dự án{% endtrans %}
            </button>
        </div>

        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_homepage') }}'">
                {% trans %}Danh sách người sử dụng{% endtrans %}
            </button>
        </div>
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_list_validate_organisation') }}'">
                {% trans %}Yêu cầu tạo tổ chức{% endtrans %}
                {% if nbWaitingOrganisation != 0 %}
                <div class="dot">{{ nbWaitingOrganisation }}</div>
                {% endif %}
            </button>

        </div>

    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block form-control" onclick="location.href='{{ path('app_admin_parameter') }}'">
                {% trans %}Parameter của trang web{% endtrans %}
            </button>

        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

{% endblock %}