<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% trans %} Xin chào{% endtrans %} ! {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link href="{{ asset('css/blog-post.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ab7390054a.js" crossorigin="anonymous"></script>

    {% endblock %}
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top mb-5" style="background-color: #1d2b36;">

        <a class="navbar-brand" href="/">YoYo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="#">{% trans %} Giới thiệu về YoYo {% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="#">{% trans %}Chúng tôi hoạt động như thế nào ?{% endtrans %}</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

               
                            {% for locale in locales %}
                                {% if locale != app.request.locale %}
                                <li class="nav-item">
                                    <a style="color: #fff;" class="nav-link" href="{{ path('change_langue', {'locale': locale}) }}">{{ locale }}</a>
                                </li>
        
                                {% endif %}
                            {% endfor %}
   


                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        {% set upload_directory = "uploads/user/icon/#{userInfo.Id}/" %}

                        {% if  userInfo.imagePath == upload_directory %}
                            <img class="nav-profile-img rounded-circle" src="{{ asset('uploads/user/icon/default_icon.png') }}">
                        {% else %}
                            <img class="nav-profile-img rounded-circle" src="{{ asset(userInfo.imagePath) }}">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('app_profil') }}">{% trans %}Thông tin cá nhân{% endtrans %} </a>
                        <a class="dropdown-item" href="{{ path('app_homepage') }}"> {% trans %} Tài liệu cá nhân {% endtrans %}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('app_post_admin') }}"> {% trans %} Trang quản trị {% endtrans %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout')}}">{% trans %} Đăng xuất {% endtrans %}</a>
                    </div>
                </li>
                {% else %}

                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">{% trans %}Đăng nhập{% endtrans %}</a>
                </li>
                    <li class="nav-item">
                        <a style="color: #fff;" class="nav-link" href="{{ path('app_registration') }}">{% trans %}Đăng ký{% endtrans %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

</nav>


{% for message in app.flashes('success') %}
    <div class="container" style="margin-top: 1.25rem;">
        <div class="alert alert-success">
            {{ message }}
        </div>
    </div>

{% endfor %}
{% for message in app.flashes('echec') %}
    <div class="container" style="margin-top: 1.25rem;">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>

{% endfor %}

{% block body %}

{% endblock %}


{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
</body>

</html>
