{% extends 'base.html.twig' %}

{% block title %}{{ postInfo.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/showPost.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

{% block show_post_content %}
<div class="container">
    <div>
        <h1 style="text-align: center"><span>{{ postInfo.title }}</span></h1>
    </div>




    <div class="row">

        <!-- Post Content Column -->
        <div class="col-md-8 col-xs-8 showpost">

            <!-- Preview Image -->
            <div>
            {% if postInfo.imagePath == '/post/image/' %}
                    <img class="img-fluid rounded-custom img-post" src="{{ postInfo.DefaultImagePath | imagine_filter('card_thumbnail_showpost') }}" alt="">
            {% else %}
                    <img class="img-fluid rounded-custom img-post" src="{{ postInfo.imagePath| imagine_filter('card_thumbnail_showpost') }}" alt="">
            {% endif %}
                    <div class="authorInfo rounded-custom">
                        {% trans %}Tạo bởi: {% endtrans %} {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                    </div>
                {% if is_granted('ROLE_USER') == true %}
                {% if userFavorite is null or userFavorite == false %}
                    <div class="favorite">
                        <i id="start_empty" class="far fa-star" style="display: flex" onclick="checkfavorite()"></i>
                        <i id="start_checked" class="fas fa-star" style="display: none" onclick="uncheckFavorite()"></i>
                    </div>
                {% else %}
                <div class="favorite">
                    <i id="start_empty" class="far fa-star" style="display: none" onclick="checkfavorite()"></i>
                    <i id="start_checked" class="fas fa-star" style="display: flex" onclick="uncheckFavorite()"></i>
                </div>
                {% endif %}
                {% endif %}
            </div>

            {% set percent_advancement = totalAmount/postInfo.targetAmount*100 %}
            {% set  percent_for_css = 98 -  percent_advancement%}


            <div style="position: relative; margin-top: 0;">
                <div class="custom_progress">
                    <div class="progress">
                        

                        {% if totalAmount is null %}
                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-count" style="right: 97%;">
                                0%
                            </div>
                        </div>
                       
                        {% elseif percent_advancement < 100 %}

                        <div class="progress-bar" role="progressbar" style="width: {{percent_advancement|round(1,'floor')}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span class="progress-count" style="right: {{percent_for_css}}%;">
                                {{percent_advancement|round(0,'floor')}}%
                            </span>
                        </div>
                        {% else %}
                        <div class="progress-bar" role="progressbar" style="width: {{percent_advancement|round(1,'floor')}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span class="progress-count" style="right: -1%;">
                                {{percent_advancement|round(0,'floor')}}%
                            </span>
                        </div>
                        {% endif %}


                    </div>
                </div>
       
            </div>


                <!-- Post Content -->
                <p>{{ postInfo.content|markdown }}</p>    

            <!-- button modify -->

        </div>

        <!-- Sidebar card collect. example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_profile_card -->
        <div class="col-md-4 col-xs-4">

            <div class="card col-md-3">
                {% if totalAmount is null %}
                <p><h1>0 € </h1> <span><small> {% trans %} quyên góp được trên {% endtrans %} {{postInfo.targetAmount}} €</small></span></p>
                {% else %}
                <p><h1>{{ totalAmount }} € </h1> <span><small>{% trans %}quyên góp được trên{% endtrans %} {{postInfo.targetAmount}} €</small></span></p>
                {% endif %}

                <p> <span><i class="fas fa-user"></i></span> {{ nb_participant }} {% trans %}người tham gia{% endtrans %}</p>

                <p><span><i class="far fa-clock"></i></span> <span>{% trans %}Còn lại {% endtrans %} {{ datediff }} {% trans %} ngày{% endtrans %}</span></p>

                {% if postInfo.status.id == statusArray['POST_DRAFT'] or postInfo.status.id == statusArray['POST_WAITING_INFO'] %}
                    {% if userInfo == postInfo.user %}
                    <div id="btn-transaction" onclick="location.href='{{ path('app_submit_post', {uniquekey: postInfo.uniquekey}) }}'">
                        <span>{% trans %} Gửi dự án cho ban quản trị {% endtrans %}</span>

                    </div>

                    <div id="btn-modify" onclick="location.href='{{ path('app_post_edit', {uniquekey: postInfo.uniquekey}) }}'">
                        <span>{% trans %}Chỉnh sửa thông tin dự án {% endtrans %}</span>

                    </div>
                    {% endif %}

                {% elseif postInfo.status.id != statusArray['POST_SUBMIT_TO_ADMIN'] %}


                <div id="btn-transaction" onclick="location.href='{{ path('app_payment', {uniquekey: postInfo.uniquekey}) }}'">
                    <span>{% trans %}Quyên góp{% endtrans %}</span>

                </div>


                <!-- share button facebook. example here : https://developers.facebook.com/docs/plugins/share-button/  and https://codepen.io/kjkta/pen/rxawKL -->
                <div id="fb-share-button">
                    <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                        <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
                    </svg>
                    <span>{% trans %}Chia sẻ qua facebook{% endtrans %}</span>
                </div>



                {% endif %}
                {% block admin_post %}
                    
                {% endblock %}


            </div>

        </div>




    </div>


{% endblock %}


{% block comment %}
<div class="row">
    <div class="col-md-8 col-xs-8 showpost">
        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-listParticipant-tab" data-toggle="pill" href="#pills-listParticipant" role="tab" aria-controls="pills-listParticipant" aria-selected="true">{% trans %}Danh sách tham gia{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-comment-tab" data-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-comment" aria-selected="false">{% trans %}Gửi lời động viên{% endtrans %}</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-listParticipant" role="tabpanel" aria-labelledby="pills-listParticipant-tab">


                    <div class="col-md-12 row" style="margin: 0.5rem 0 0.5rem; padding: 5px;">
                        {% if TotalAnonymous is not null %}

                            <img class="d-flex mr-3 rounded-circle icone-user" style="margin: 0.7rem 0 0.5rem" src="{{ asset('uploads/user icon.png') }}"  alt="">
                            <div class="media-body">
                                <small class="mt-0">{% trans %}Ẩn danh {% endtrans %}</small>
                                <br>
                                <div  style="white-space: pre-wrap;">{{ TotalAnonymous }} €</div>
                            </div>

                        {% endif %}

                        {% for transactionpost in TransactionThisPost %}

                        <div class="media col-md-4" style="margin: 0.5rem 0 0.5rem">
                            <img class="d-flex mr-3 rounded-circle icone-user" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <small class="mt-0">{{ transactionpost.user.firstname }} {{ transactionpost.user.lastname }}</small>
                                <br>
                                <div  style="white-space: pre-wrap;">{{ transactionpost.amount }} €</div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                </div>


            <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">

                <div style="margin-top: 1.25rem;margin-bottom: 1.25rem;">
                    {% if is_granted('ROLE_USER') %}
                    {{ include('comment/addComment.html.twig') }}
                    {% else %}
                        <div style="text-align: center">
                            <span>{% trans %}Vui lòng đăng nhập để comment {% endtrans %}</span>
                            <br>
                            <button onclick="location.href='{{ path('app_login') }}'">{% trans %}Đăng nhập{% endtrans %}</button>
                        </div>

                    {% endif %}
                </div>

                {% for c in comment %}
                    {% if c.isDeleted == false %}
                        <!-- Single Comment -->
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <small class="mt-0">{{ c.user.firstname }} {{ c.user.lastname }}</small>
                                <br>
                                <div  style="white-space: pre-wrap;">{{ c.content }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>
</div>

</div>

{% endblock %}



    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            var fbButton = document.getElementById('fb-share-button');
            var url = window.location.href;

            fbButton.addEventListener('click', function() {
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + url,
                    'facebook-share-dialog',
                    'width=800,height=600'
                );
                return false;
            });


            function checkfavorite(){
                var start_empty = document.getElementById("start_empty");
                var start_checked = document.getElementById("start_checked");
                var path = window.location.pathname;
                var uniquekey = path.replace("/post/","");

                if(start_checked.style.display === "none"){
                    start_checked.style.display = "flex";
                    start_empty.style.display = "none";
                }
                $.ajax({
                    cache: false,
                    url: '/ajax/add_favorite/'+uniquekey+'/1',
                    method: 'POST',
                    async: false,
                })

            }

            function uncheckFavorite(){
                var start_empty = document.getElementById("start_empty");
                var start_checked = document.getElementById("start_checked");
                var path = window.location.pathname;
                var uniquekey = path.replace("/post/","");

                if(start_checked.style.display === "flex"){
                    start_checked.style.display = "none";
                    start_empty.style.display = "flex";
                }
                $.ajax({
                    cache: false,
                    url: '/ajax/add_favorite/'+uniquekey+'/0',
                    method: 'POST',
                    async: false,
                })
            }

        </script>

    {% endblock %}

