{% extends 'content_base.html.twig' %}

{% block title %}
        {% trans %} Tạo organisation {% endtrans %}
{% endblock %}

{% block content_body %}
            <h1 style="text-align: center">Tạo tài khoản cho phép đăng dự án</h1>

 {{ form_start(form)}}
   <div>
    <p>
       {% trans %}
          Để đăng dự án lên trang của bọn mình, và nhằm đảm bảo tính minh bạch của thông tin, chúng tôi ưu tiên cho các tài khoản dưới danh nghĩa tổ chức được công nhận bời chính phủ.
       {% endtrans %}

    </p>
    <p>
       {% trans %}
          Chúng tôi yêu cầu các bạn cung cấp cho chúng tôi các thông tin sau đây (Lưu ý các file đính kèm không được quá 2M)
        {% endtrans %}
    </p>
 </div>

    <div>
        {{ form_row(form.OrganisationName) }}
        {{ form_row(form.Address) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.ZipCode) }}
            </div>
            <div class="col">
                {{ form_row(form.City) }}
            </div>
            <div class="col">
                {{ form_row(form.Country) }}
            </div>
            <div class="col">
                {{ form_row(form.PhoneNumber) }}
            </div>

        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.CertificateOrganisation) }}
            </div>
            <div class="col">
                {{ form_row(form.BankAccountInformation) }}
            </div>

        </div>
        <div class="row">
            <div class="col" >
                {{ form_row(form.Awards) }}
            </div>
            <div class="col" >
                <a onclick="addAwardInput()"> add awards</a>
            </div>

        </div>
        <div class="row" >
            <div class="col" id="awards_1" style="display: none;">
                {{ form_row(form.Awards1) }}
            </div>
            <div class="col" >

            </div>

        </div>
        <div class="row" >
            <div class="col" id="awards_2" style="display: none;">
                {{ form_row(form.Awards2) }}
            </div>
            <div class="col" >

            </div>

        </div>
        <div class="row" >
            <div class="col" id="awards_3" style="display: none;">
                {{ form_row(form.Awards3) }}
            </div>
            <div class="col" >

            </div>

        </div>
        <div class="row" >
            <div class="col" id="awards_4" style="display: none;">
                {{ form_row(form.Awards4) }}
            </div>
            <div class="col" >

            </div>

        </div>
    </div>



    <button type="submit" class="btn btn-primary">Dang ky </button>
    {{ form_end(form)}}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        function addAwardInput() {
            var i;
            for (i = 1; i < 5; i++) {
                var Id = 'awards_'+i;
                var x = document.getElementById(Id);
                if (x.style.display === "none") {
                    x.style.display = "block";
                    break;
                }
            }
        }
    </script>
{% endblock %}