{% extends 'content_base.html.twig' %}

{% block title %}

{% endblock %}

{% block content_body %}
{{ form_start(form) }}
    <h1 style="text-align: center">{% trans %}Thêm/thay đổi tài liệu {% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.Document0)
            }}

        </div>
        <div class="col-4">
            {{ form_row(form.DocType0) }}
        </div>
        <div class="col-2">
            <button id="Add_Document" class="btn btn-primary"><i class="fa fa-plus-square"></i></button>
            <button class="btn btn-danger" id="Remove_Document"><i class="fa fa-trash"></i></button>
        </div>
    </div>

    <div class="row"  id="awards_1" style="display: none;">
        <div class="col-6" >
            {{ form_row(form.Document1) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType1) }}
        </div>
    </div>


    <div class="row" id="awards_2" style="display: none;">
        <div class="col-6">
            {{ form_row(form.Document2) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType2) }}
        </div>

    </div>

    <div class="row" id="awards_3" style="display: none;">
        <div class="col-6">
            {{ form_row(form.Document3) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType3) }}
        </div>


    </div>



    <div class="row"  id="awards_4" style="display: none;">
        <div class="col-6">
            {{ form_row(form.Document4) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType4) }}
        </div>


    </div>


    <div class="row"  id="awards_5" style="display: none;">
        <div class="col-6">
            {{ form_row(form.Document5) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType5) }}
        </div>

    </div>


    <div class="row" id="awards_6" style="display: none;">
        <div class="col-6">
            {{ form_row(form.Document6) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType6) }}
        </div>


    </div>


    <div class="row" id="awards_7" style="display: none;">
        <div class="col-6" >
            {{ form_row(form.Document7) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType7) }}
        </div>


    </div>


    <div class="row" id="awards_8" style="display: none;">
        <div class="col-6" >
            {{ form_row(form.Document8) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType8) }}
        </div>


    </div>


    <div class="row" id="awards_9" style="display: none;">
        <div class="col-6" >
            {{ form_row(form.Document9) }}
        </div>
        <div class="col-4" >
            {{ form_row(form.DocType9) }}
        </div>

    </div>




    <div>
        <button type="submit" class="btn btn-primary">{% trans %} Gửi tài liệu  {% endtrans %}</button>
    </div>

    {{ form_end(form)}}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    console.log('1234');
</script>
{{encore_entry_script_tags('edit_document')}}

{% endblock %}