{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profil.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container emp-profile">

        <div class="row">

            {% block userImage %}
                <div class="col-md-4">
                    <div class="profile-img">
                        {% set upload_directory = "uploads/user/icon/#{userInfo.Id}/" %}
                        {% if  userInfo.imagePath == upload_directory %}
                            <img src="{{ asset('uploads/user/icon/default_icon.png') }}" alt=""/>
                        {% else %}
                            <img src="{{ asset(userInfo.imagePath) }}" alt=""/>
                        {% endif %}
                    </div>
                </div>

            {% endblock %}
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ organisationInfo.organisationName }}
                    </h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans %}Thông tin tổ chức{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{% trans %}Tài liệu{% endtrans %}</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">


                    {# Tab 2 #}
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% if organisationInfo is null %}
                            {% trans %}Profil của bạn không có tổ chức đính kèm {% endtrans %}
                        {% else %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Tên tổ chức {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.organisationName }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Địa chỉ {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.address }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %} ZipCode {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.zipcode }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %} Thành phố {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.city }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %} Quốc gia {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.city }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %} Số điện thoại{% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ organisationInfo.phoneNumber }}</p>
                                </div>
                            </div>
                            <a class="btn btn-primary" href="{{ path('app_edit_organisation_info', {id: userInfo.Id}) }}">{% trans %}Thay đổi thông tin tổ chức{% endtrans %}</a>
                        {% endif %}
                    </div>

                    {# Tab 3 #}
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {% if certificate is null %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Chứng nhận tổ chức {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    {% trans %}Bạn không có Chứng nhận tổ chức trong hệ thống của chúng tôi {% endtrans %}
                                </div>
                            </div>

                        {% else %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Chứng nhận tổ chức {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">

                                    <span>
                                        <a href="{{ path('app_download_user_document', {
                                            id: certificate.id
                                        }) }}" class="document">{{ certificate.originalFilename }}</a>
                                    </span>
                                    <span>
                                        <a href="{{ path('app_delete_user_document',{
                                            id: certificate.id
                                        }) }}"><span class="fas fa-trash-alt"></span></a>
                                    </span>
                                </div>
                            </div>
                        {% endif %}

                        {% if bank is null %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Tài khoản ngân hàng {% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    {% trans %}Bạn không có tài khoản ngân hàng trong hệ thống{% endtrans %}
                                </div>
                            </div>
                         {% else %}
                             <div class="row">
                                 <div class="col-md-6">
                                     <label>{% trans %}Tài khoản ngân hàng{% endtrans %}</label>
                                 </div>
                                 <div class="col-md-6">

                                     <span>
                                        <a href="{{ path('app_download_user_document', {
                                            id: bank.id
                                        }) }}" class="document">{{ bank.originalFilename }}</a>
                                    </span>
                                     <span>
                                        <a href="{{ path('app_delete_user_document', {
                                            id: bank.id
                                        }) }}"><span class="fas fa-trash-alt"></span></a>
                                    </span>
                                 </div>
                             </div>
                         {% endif %}

                        {% if awards is empty %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Bằng khen{% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    {% trans %}Bạn không có bằng khen trong hệ thống{% endtrans %}
                                </div>
                            </div>
                        {% else %}
                            {% for award in awards %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{% trans %}Bằng khen{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-6">

                                        <span>
                                        <a href="{{ path('app_download_user_document', {
                                            id: award.id
                                        }) }}" class="document">{{ award.originalFilename }}</a>
                                    </span>
                                        <span>
                                        <a href="{{ path('app_delete_user_document',{
                                            id: award.id
                                        }) }}"><span class="fas fa-trash-alt"></span></a>
                                    </span>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}
                        <a class="btn btn-primary" href="{{ path('app_edit_document_organisation', {id: userInfo.Id}) }}">{% trans %}Cập nhật tài liệu{% endtrans %}</a>

                    </div>


                </div>
            </div>
        </div>

    </div>
{% endblock %}

