{% extends 'base.html.twig' %}
{% block title %}{% trans %} Thông tin cá nhân của bạn {% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profil.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container emp-profile">

            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {% set upload_directory = "uploads/user/icon/#{userInfo.Id}/" %}
                        {% if  userInfo.imagePath == upload_directory %}
                            <img src="{{ asset('uploads/user/icon/default_icon.png') }}" alt=""/>
                        {% else %}
                        <img src="{{ asset(userInfo.imagePath) }}" alt=""/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ userInfo.firstname }} {{ userInfo.lastname }}
                        </h5>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tài liệu cá nhân</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('app_edit_profil') }}">{% trans %}Thay đổi thông tin cá nhân{% endtrans %}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <a href="">{% trans %}Danh sách các dự án bạn đã quyên góp{% endtrans %}</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Họ{% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userInfo.lastname }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{% trans %}Tên{% endtrans %}</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userInfo.firstname }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userInfo.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                <p></p>
                                    <label></label>
                                </div>
                                <div class="col-md-6">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

{% endblock %}