
{% block form %}

    {{ form_start(postForm) }}
    <h1 style="text-align: center;">{{ action_title }}</h1>
    {% if postForm.vars.data.imageFilename|default %}
        <div>
            <img src="{{ asset(postForm.vars.data.imagePath)|imagine_filter('card_thumbnail_showpost') }}" height="160" width="250" style="display: block;margin-left: auto;margin-right: auto; width: 300px;">
        </div>
        <hr>
    {% endif %}

    {{ form_row(postForm.title, {
        attr: {
            'placeholder': 'Tên dự án'
        }
    }) }}

    {{ form_row(postForm.content, {
        label: 'Nội dung chi tiết'
    }) }}

    <div class="form-group" style="width: 30%;">
        {{ form_row(postForm.imageFile, {
            label: 'Ảnh đại diện',
            attr: {
                'placeholder': 'Đính kèm ảnh vào đây'
            }
        }) }}
        {{ form_row(postForm.finishAt, {
            attr: {
                'placeholder': 'Chọn hạn chót'
            }
        }) }}
        {{ form_row(postForm.targetAmount) }}

    </div>




    {{ form_widget(postForm) }}
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
    {{ form_end(postForm) }}
{% endblock %}