{%  extends 'base.html.twig' %}

{% block title %}
    {% trans %}Quyên góp cho dự án: {% endtrans %} {{postInfo.title}}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {{encore_entry_link_tags('funding_step_2')}}
{% endblock %}

{% block body %}

    <div class='container funding-section'>
        <div class='window'>
            <div class='order-info'>
                <div class='order-info-content'>
                    <h2>{{ postInfo.title }}</h2>
                    <div class='line'></div>
                    {% set percent_advancement = totalAmount/postInfo.targetAmount*100 %}
                    {% if postInfo.imagePath == '/post/image/' %}
                        <img class="img-post-funding" src="{{ postInfo.DefaultImagePath | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    {% else %}
                        <img class="img-post-funding" src="{{ postInfo.imagePath| imagine_filter('card_thumbnail_showpost') }}" alt="">
                    {% endif %}

                    <div class="cause-card__progressbar">
                        <div class="cause-card__top">
    
    
                            {% if percent_advancement >= 0 and percent_advancement <= 20 %}
                                <div class="cause-card__progress low_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div>                                  
                            {% elseif percent_advancement > 20 and percent_advancement <= 70 %}
                                <div class="cause-card__progress medium_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div> 
                            {% elseif percent_advancement < 100 %}
                                <div class="cause-card__progress high_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                            </div>
                            {% else %}
                                <div class="cause-card__progress_100_project_page high_percent">
                                    <span style="width: 100%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div>
                            {% endif %}
    
                            <div class="cause-card__goals">
                                <p> {{ totalAmount|priceExact }} </p>
                                <p>{{ postInfo.targetAmount|priceExact }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- order-info-content -->
            </div> <!-- order-info -->
              <div class='credit-info' style="background-image: url('{{ asset('build/images/video-bg-1-1.png') }}');">
                <div class='credit-info-content'>
                    <div class="header-credit-info" style="background-color: white; height: 20px; margin-bottom: 10px; ">
                        123
                    </div>
                    <form id="payment-form" method="post">

                        <div class="row">
                            <input type="text" placeholder="Họ và tên chủ thẻ" required="" class="field-bank-info"></input>
                        </div>
                        <div class="row">
                            <div id="card-number-element" class="field-bank-info"></div>
                        </div>
                        <div class="row">
                            <div id="card-expiry-element" class="field-bank-info"></div>
                        </div>
                        <div class="row">
                            <div id="card-cvc-element" class="field-bank-info"></div>
                        </div>

                        <div class="checkboxes">
                            <label><input type="checkbox" id="anonymous" value="1" name="anonymous"/>{% trans %}Tôi mong muốn được ẩn danh cho khoản quyên góp này{% endtrans %}</label>
                        </div>

                        <!-- We'll put the error messages in this element -->
                        <div id="card-errors" role="alert"></div>

                        <input id="token" type="hidden" name="token" value="{{ csrf_token('funding_step') }}"/>

                        <button id="submit" class="btn-funding" style="display: inline-block">{% trans %}Quyên góp {% endtrans %} {{ amount }} €</button>

                        <button class="btn btn-warning btn_loading" type="button" disabled style="display: none">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            {% trans %}Chúng tôi đang kiểm tra thông tin ngân hàng, vui lòng không thoát khỏi trang{% endtrans %}
                        </button>
                    </form>
                </div>
      
              </div>
            </div>
      </div>


{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script>
        var clientSecret = '{{ clientSecret }}';
        var uniquekey = '{{ postInfo.uniquekey }}';
        var userId = {{ userInfo.Id }};
        var userEmail = '{{ userInfo.Email }}';
        var amount = {{ amount }};
        var Donation_After_fees = {{ donationIncludeFees }};
        var totalFees = {{ totalFees }};
        var token = document.getElementById("token");
        var givingAmount = {{ givingAmount }};
        var stripe_pk_key = '{{ stripe_pk_key }}';
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {{encore_entry_script_tags('funding_step_2')}}

{% endblock %}