{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
  <link href="{{ asset('css/funding.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}


    <div class="container" style="margin-top: 7%; margin-bottom: 1%; background-color: white; width: 60%;">

                                <!-- Preview Image -->
                                <H3 style="text-align: center">{% trans %}Đóng góp cho dự án: {% endtrans %} {{ postInfo.title }}</H3>
                                <hr>
        <div class="row">
            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7">
                {% if postInfo.imagePath == '/post/image/' %}
                        <div>
                            <img class="img_funding" src="{{ postInfo.DefaultImagePath | imagine_filter('card_imagePost_FundingStep') }}" alt="" >
                        </div>


                {% else %}
                <div>
                    <img class="img_funding" src="{{ postInfo.imagePath| imagine_filter('card_imagePost_FundingStep') }}" alt="" >
                </div>
                {% endif %}
            </div>
            <div class="col-md-5 col-xs-5 col-sm-5 col-lg-5">
                {{ form_start(financeForm, {action: path('app_finance', {uniquekey: postInfo.uniquekey}) }) }}

                <div  class="row">
                    <div  class="col-md-6 col-xs-6">
                        <span>{% trans %}Quyên góp{% endtrans %} </span>
                    </div>
                    <div  class="col-md-4 col-xs-4">
                        <div>
                            {{ form_row(financeForm.amount) }}
                        </div>
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                <div  class="row">
                    <div class="col-md-6 col-xs-6" >
                        Tiên phi quan tri
                    </div>
                    <div  class="col-md-4 col-xs-4">

                        <span id="calculate_fees" class="calculate_amount" >-</span>
                        <hr>
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                    <div class="row">

                        <div class="col-md-6 col-xs-6" >
                            Tiên toi tay du an
                        </div>
                        <div  class="col-md-4 col-xs-4">
                            <span id="receive_amount" class="calculate_amount">-</span>
                        </div>
                        <div  class="col-md-2 col-xs-2">
                            <span>€</span>
                        </div>
                    </div>

                <div class="row">

                    <div class="col-md-6 col-xs-6" >
                        Ung hô thêm cho trang web
                    </div>
                    <div class="col-md-4 col-xs-4">

                        {{ form_row(financeForm.giveForSite) }}
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                <button class="btn" type="submit">
                            <span>{% trans %}Quyên góp {% endtrans %}</span>
                </button>


                {{ form_end(financeForm) }}
            </div>
        </div>


        <input type="hidden" value="{{ ManagementFees }}" id="management_fees">
        <input type="hidden" value="{{ FixedFees }}" id="Fixed_fees">
    </div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
    <script>
        var management_fees = parseFloat(document.getElementById("management_fees").value);
        var fixedFees = parseFloat(document.getElementById("Fixed_fees").value);;
        var amount = 0;
        var fees = 0;
        var receive_amount = 0;

        //console.log(fees);
        $(document).ready(function() {
            $('#payment_amount').keyup(function(){
                amount =   parseFloat(document.getElementById("payment_amount").value.replace(",", "."));
                fees = (management_fees * amount) + fixedFees;
                receive_amount = amount - fees.toFixed(2);
              //  console.log(fees);
                document.getElementById("calculate_fees").innerHTML = '- ' + fees.toFixed(2);
                document.getElementById("receive_amount").innerHTML = receive_amount;

            });
        });
    </script>
{% endblock %}
