{%  extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <link href="{{ asset('css/funding.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 7%; margin-bottom: 5%; background-color: white">

        <div class="row">
            <div class="col">

                    {% if postInfo.imagePath == 'uploads/post/image/' %}
                        <div>
                            <img style="max-height: 100px; max-width: 200px;" class="img-post" src="{{ asset('uploads/post/default_img.jpeg') }}" alt="">
                        </div>

                    {% else %}
                        <div>
                            <img style="max-height: 300px; max-width: 500px;" class="img-fluid rounded img-post" src="{{ asset(postInfo.imagePath) }}" alt="">
                        </div>

                    {% endif %}

            </div>

            <div class="col">
                <p style="text-align: center">Thông tin thẻ tín dụng</p>
                <!-- action="{{ path('app_add_transaction', {uniquekey: postInfo.uniquekey, clientSecret: clientSecret, amount: amount}) }}" -->
                <form id="payment-form" method="post">

                    <input type="text" placeholder="Họ và tên chủ thẻ" required="">

                    <div id="card-element" style="width: 80%; height: 30px; color: black;">
                        <!-- Elements will create input elements here -->
                    </div>

                    <!-- We'll put the error messages in this element -->
                    <div id="card-errors" role="alert"></div>

                    <button id="submit" class="btn-transaction">Quyên góp {{ amount }} €</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script>
        var clientSecret = '{{ clientSecret }}';
        var uniquekey = '{{ postInfo.uniquekey }}';
        var userId = {{ userInfo.Id }}
        var userEmail = '{{ userInfo.Email }}';
        var amount = {{ amount }};

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script src="{{ asset('js/stripe.js') }}">

    </script>

{% endblock %}