{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}

{{encore_entry_link_tags('funding_step_1')}}

{% endblock %}

{% block body %}


    <div class="container child" style="margin-top: 7%; margin-bottom: 1%; background-color: white; width: 60%;">

                                <!-- Preview Image -->
                                <H3 style="text-align: center">{% trans %}Đóng góp cho dự án: {% endtrans %} {{ postInfo.title }}</H3>
                                <hr>
        <div class="row">
            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7">
                {% if postInfo.imagePath == '/post/image/' %}
                        <div>
                            <img class="img_funding" src="{{ postInfo.DefaultImagePath | imagine_filter('card_imagePost_FundingStep') }}" alt="" >
                        </div>


                {% else %}
                <div>
                    <img class="img_funding" src="{{ postInfo.imagePath| imagine_filter('card_imagePost_FundingStep') }}" alt="" >
                </div>
                {% endif %}
            </div>
            <div class="col-md-5 col-xs-5 col-sm-5 col-lg-5">
                {{ form_start(financeForm, {action: path('app_finance', {uniquekey: postInfo.uniquekey}) }) }}

                <div  class="row">
                    <div  class="col-md-6 col-xs-6">
                        <span>{% trans %}Quyên góp{% endtrans %} </span>
                    </div>
                    <div  class="col-md-4 col-xs-4">
                        <div>
                            {{ form_row(financeForm.amount) }}
                        </div>
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                <div  class="row">
                    <div class="col-md-6 col-xs-6" >
                        {% trans %}Phí quản lý{% endtrans %}
                    </div>
                    <div  class="col-md-4 col-xs-4">

                        <span id="calculate_fees" class="calculate_amount" >-</span>
                        <hr>
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                    <div class="row">

                        <div class="col-md-6 col-xs-6" >
                            {% trans %}Tới dự án{% endtrans %}
                        </div>
                        <div  class="col-md-4 col-xs-4">
                            <span id="receive_amount" class="calculate_amount">-</span>
                        </div>
                        <div  class="col-md-2 col-xs-2">
                            <span>€</span>
                        </div>
                    </div>
                <br>
                <div class="row">

                    <div class="col-md-6 col-xs-6" >
                        {% trans %}Ủng hộ thêm trang web{% endtrans %}
                    </div>
                    <div class="col-md-4 col-xs-4">

                        {{ form_row(financeForm.giveForSite) }}
                    </div>
                    <div  class="col-md-2 col-xs-2">
                        <span>€</span>
                    </div>
                </div>

                <button class="btn" type="submit">
                            <span>{% trans %}Quyên góp {% endtrans %}</span>
                </button>


                {{ form_end(financeForm) }}
            </div>
        </div>


        <input type="hidden" value="{{ ManagementFees }}" id="management_fees">
        <input type="hidden" value="{{ FixedFees }}" id="Fixed_fees">
    </div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('funding_step_1')}}

{% endblock %}
