{%  extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <link href="{{ asset('css/funding.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 7%; margin-bottom: 5%; background-color: white">
        <!-- Preview Image -->
        <H3 style="text-align: center">{% trans %}Đóng góp cho dự án: {% endtrans %} {{ postInfo.title }}</H3>
        <hr>
        <div class="row">
            <div class="col-md-4" style="position:relative; overflow:hidden">

                {% if postInfo.imagePath == '/post/image/' %}
                    <div>
                        <img class="img-fluid rounded-custom img-post" src="{{ postInfo.DefaultImagePath | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    </div>

                {% else %}
                    <img class="img-fluid rounded-custom img-post" src="{{ postInfo.imagePath| imagine_filter('card_thumbnail_showpost') }}" alt="">
                {% endif %}
            </div>

            <div class="col-md-8">
                <div>

                    {#
                    custom code example here : http://jsfiddle.net/ywain/whj357u9/
                    #}

                    <form id="payment-form" method="post">


                        {#
                        old code :
                        <div id="card-element" style="width: 80%; height: 30px; color: black;">
                            <!-- Elements will create input elements here -->
                        </div>

                        #}
                        <div>
                            <label class="card_info">
                                <span>{% trans %}Họ tên chủ thẻ{% endtrans %}</span>
                                <input placeholder="Họ và tên chủ thẻ" required="" class="card_info_name"></input>
                            </label>
                            <label class="card_info">
                                <span>{% trans %}Số thẻ tín dụng{% endtrans %}</span>
                                <div id="card-number-element" class="field"></div>
                            </label>
                            <label class="card_info">
                                <span>{% trans %}Hạn thẻ{% endtrans %}</span>
                                <div id="card-expiry-element" class="field"></div>
                            </label>
                            <label class="card_info">
                                <span>{% trans %}CVC{% endtrans %}</span>
                                <div id="card-cvc-element" class="field"></div>
                            </label>

                        </div>

                        <div class="checkboxes">
                            <label><input type="checkbox" id="anonymous" value="1" name="anonymous"/>{% trans %}Tôi mong muốn được ẩn danh cho khoản quyên góp này{% endtrans %}</label>
                        </div>

                        <!-- We'll put the error messages in this element -->
                        <div id="card-errors" role="alert"></div>

                        <input id="token" type="hidden" name="token" value="{{ csrf_token('funding_step') }}"/>

                        <button id="submit" class="btn btn_payment" style="display: inline-block">{% trans %}Quyên góp {% endtrans %} {{ amount }} €</button>

                        <button class="btn btn-warning btn_loading" type="button" disabled style="display: none">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            {% trans %}Chúng tôi đang kiểm tra thông tin ngân hàng, vui lòng không thoát khỏi trang{% endtrans %}
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script>
        var clientSecret = '{{ clientSecret }}';
        var uniquekey = '{{ postInfo.uniquekey }}';
        var userId = {{ userInfo.Id }};
        var userEmail = '{{ userInfo.Email }}';
        var amount = {{ amount }};
        var Donation_After_fees = {{ donationIncludeFees }};
        var totalFees = {{ totalFees }};
        var token = document.getElementById("token");
        var givingAmount = {{ givingAmount }};
        var stripe_pk_key = {{ stripe_pk_key }};
    //    console.log(givingAmount);

        var IsNotAnonymous = false;
        $('#anonymous').click(function() {
            IsNotAnonymous = $('#anonymous').prop('checked');
        });
       // console.log(IsNotAnonymous);



    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="{{ asset('js/stripe.js') }}">

    </script>

{% endblock %}