{% extends 'base.html.twig' %}

{% block title %}
{% trans %}Quyên góp dự án: {% endtrans %} {{ postInfo.title }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}

{{encore_entry_link_tags('funding_step_1')}}

{% endblock %}

{% block body %}

    <div class='container funding-section'>
        <div class='window'>
            <div class='order-info'>
                <div class='order-info-content'>
                    <h2>{{ postInfo.title }}</h2>
                    <div class='line'></div>
                    {% set percent_advancement = totalAmount/postInfo.targetAmount*100 %}
                    {% if postInfo.imagePath == '/post/image/' %}
                        <img class="img-post-funding" src="{{ postInfo.DefaultImagePath | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    {% else %}
                        <img class="img-post-funding" src="{{ postInfo.imagePath| imagine_filter('card_thumbnail_showpost') }}" alt="">
                    {% endif %}

                    <div class="cause-card__progressbar">
                        <div class="cause-card__top">
    
    
                            {% if percent_advancement >= 0 and percent_advancement <= 20 %}
                                <div class="cause-card__progress low_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div>                                  
                            {% elseif percent_advancement > 20 and percent_advancement <= 70 %}
                                <div class="cause-card__progress medium_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div> 
                            {% elseif percent_advancement < 100 %}
                                <div class="cause-card__progress high_percent">
                                    <span style="width: {{percent_advancement|round(1,'floor')}}%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                            </div>
                            {% else %}
                                <div class="cause-card__progress_100_project_page high_percent">
                                    <span style="width: 100%;" class="cardProgress">
                                        <b><i>{{percent_advancement|round(1,'floor')}}</i>%</b>
                                    </span>
                                </div>
                            {% endif %}
    
                            <div class="cause-card__goals">
                                <p> {{ totalAmount|priceExact }} </p>
                                <p>{{ postInfo.targetAmount|priceExact }}</p>
                            </div>
    
                        </div>
                    </div>
                </div> <!-- order-info-content -->
            </div> <!-- order-info -->
              <div class='credit-info' style="background-image: url('{{ asset('build/images/video-bg-1-1.png') }}');">
                <div class='credit-info-content'>
                    <h2>{{ postInfo.title }}</h2>
                    <div class='line'></div>

                    {{ form_start(FundingStep1, {action: path('app_finance', {uniquekey: postInfo.uniquekey}) }) }}
                    <div style="witdh: 100%">   
                        <div class="row">
                            <div class="col">
                                <span>{% trans %}Quyên góp{% endtrans %} </span>
                            </div>
                            <div class="col">
                                {{ form_row(FundingStep1.amount) }}
                            </div>
                            <p>
                                <span>€</span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% trans %}Phí quản lý{% endtrans %}
                            </div>
                            <div class="col">
        
                                <span id="calculate_fees" class="calculate_amount" >-</span>
                            </div>
                            <p>
                                <span>€</span>
                            </p>
                        </div>
                        <div class='line'></div>
        
                        <div class="row">
                            <div class="col">
                                {% trans %}Tới dự án{% endtrans %}
                            </div>
                            <div class="col">
                                <span id="receive_amount" class="calculate_amount">-</span>
                            </div>
                            <p>
                                <span>€</span>
                            </p>
                        </div>
    
                     
                        <div class="row">
                            <div class="col">
                                {% trans %}Ủng hộ thêm trang web{% endtrans %}
                            </div>
                            <div class="col">
        
                                {{ form_row(FundingStep1.giveForSite) }}
                            </div>
                            <p>
                                <span>€</span>
                            </p>
                        </div>
                    </div>
                        
                        <div>
                            <button class="btn btn-funding" type="submit">
                                <span>{% trans %}Quyên góp {% endtrans %}</span>
                            </button>
                        </div>
        
                    {{ form_end(FundingStep1) }}
                </div>
      
              </div>
            </div>
      </div>
      <input type="hidden" value="{{ ManagementFees }}" id="management_fees">
      <input type="hidden" value="{{ FixedFees }}" id="Fixed_fees">
{% endblock %}


{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('funding_step_1')}}

{% endblock %}
