{% extends 'base.html.twig' %}

{% block title %}{{ postInfo.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/showPost.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ postInfo.title }}</h1>

            <!-- Author -->
            <small>
                <span><i class="fas fa-user"></i> <a href="#">{{ postInfo.user.firstname }} {{ postInfo.user.lastname }} </a></span>|
                <span><i class="far fa-clock"></i></span>
                <span> {{ postInfo.publishedAt|date('d-m-Y') }}</span> |
                <span><i class="fas fa-piggy-bank"></i></span><span> Financed by </span>
                <span class="js-total-participant">{{ postInfo.numberParticipant }}</span> personnes
            </small>
            {% if(UserLogged.id == postInfo.user.id) %}
                <a class="edit-post" href="/" data-toggle="tooltip" data-placement="bottom" title="Edit post"><i class="fas fa-edit"></i></a>
            {% endif %}
            <hr>


            <!-- Preview Image -->
            <img class="img-fluid rounded img-post" src="{{ asset(postInfo.imagePath) }}" alt="">

            <hr>

            <!-- Post Content -->
            <p>{{ postInfo.content|markdown }}</p>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Comment with nested comments -->
            {% for c in comment %}
                {% if c.isDeleted == false %}
                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <small class="mt-0">{{ c.user.firstname }} {{ c.user.lastname }} - {{ c.createdAt|ago }}</small>

                           <small><span class="fa fa-close delete-comment"></span> deleted</small>

                        <br>
                        {{ c.content }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


            <div class="col-md-4" style="position: fixed; top:10%">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="finance_project">
                            <button data-direction="finance_project">
                                <a href="{{ path('add_participant_in_project', {slug: postInfo.slug}) }}"></a>
                                I will finance this projects</button>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                {% for tag in postInfo.tags %}
                <div class="card my-4">
                    <h5 class="card-header">Tags</h5>
                    <div class="card-body">
                        {{ tag.nametag }}
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>

    </div>

</div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script src="{{ asset('js/post.js') }}"></script>
    {% endblock %}

