{% extends 'base.html.twig' %}

{% block title %}{{ postInfo.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/showPost.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container post-title">
        <br>
        <h1 style="text-align: center"><span>{{ postInfo.title }}</span></h1>


    </div>
<div class="container">


    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8 showpost">

            <!--
            <small>
                <span><i class="fas fa-user"></i> <a href="#">{{ postInfo.user.firstname }} {{ postInfo.user.lastname }} </a></span>|
                <span><i class="far fa-clock"></i></span>
                <span> {{ postInfo.publishedAt|date('d-m-Y') }}</span> |
                <span><i class="fas fa-piggy-bank"></i></span><span> Financed by </span>
                <span class="js-total-participant">{{ postInfo.numberParticipant }}</span> personnes
            </small>
            {% if UserLogged is null %}
            {% elseif(UserLogged.id == postInfo.user.id) %}
                <a class="edit-post" href="{{ path('app_post_edit', {id: postInfo.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit post"><i class="fas fa-edit"></i></a>
            {% endif %}
            <hr>
             -->

            <!-- Preview Image -->
            {% if postInfo.imagePath == 'uploads/post/image/' %}
                <div>
                    <img class="img-fluid rounded img-post" src="{{ asset('uploads/post/default_img.jpeg') | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    <div class="authorInfo rounded">
                        Tạo bởi: {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                    </div>
                </div>

            {% else %}
                <div>
                    <img class="img-fluid rounded img-post" src="{{ asset(postInfo.imagePath) | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    <div class="authorInfo rounded">
                        Tạo bởi: {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                    </div>
                </div>

            {% endif %}


            <!-- Post Content -->
            <p>{{ postInfo.content|markdown }}</p>

        </div>

        <!-- Sidebar card collect. example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_profile_card-->
        <div class="col-md-4">

            <div class="card col-md-3">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>Harvard University</p>
                <div>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Contact</button></p>
            </div>


    </div>


</div>

    <div class="row">
        <div class="col-lg-8 showpost">
            <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-listParticipant-tab" data-toggle="pill" href="#pills-listParticipant" role="tab" aria-controls="pills-listParticipant" aria-selected="true">Danh sách tham gia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-comment-tab" data-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-comment" aria-selected="false">Gửi lời động viên</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-listParticipant" role="tabpanel" aria-labelledby="pills-listParticipant-tab">
                    1 - profil
                </div>
                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">

                    <div style="margin-top: 1.25rem;margin-bottom: 1.25rem;">
                        {% if is_granted('ROLE_USER') %}
                        {{ include('comment/addComment.html.twig') }}
                        {% else %}
                            <div style="text-align: center">
                                <span>Vui lòng đăng nhập để comment</span>
                                <br>
                                <button onclick="location.href='{{ path('app_login') }}'">Đăng nhập</button>
                            </div>

                        {% endif %}
                    </div>

                    {% for c in comment %}
                        {% if c.isDeleted == false %}
                            <!-- Single Comment -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <small class="mt-0">{{ c.user.firstname }} {{ c.user.lastname }}</small>
                                    <br>
                                    <div  style="white-space: pre-wrap;">{{ c.content }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>

</div>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script src="{{ asset('js/post.js') }}"></script>
    {% endblock %}

