{% extends 'base.html.twig' %}

{% block title %}{{ postInfo.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/showPost.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
    <div>
        <h1 style="text-align: center"><span>{{ postInfo.title }}</span></h1>
    </div>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8 showpost">


            <!-- Preview Image -->
            {% if postInfo.imagePath == 'uploads/post/image/' %}
                <div>
                    <img class="img-fluid rounded img-post" src="{{ asset('uploads/post/default_img.jpeg') | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    <div class="authorInfo rounded">
                        Tạo bởi: {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                    </div>
                </div>

            {% else %}
                <div>
                    <img class="img-fluid rounded img-post" src="{{ asset(postInfo.imagePath) | imagine_filter('card_thumbnail_showpost') }}" alt="">
                    <div class="authorInfo rounded">
                        Tạo bởi: {{ postInfo.user.firstname }} {{ postInfo.user.lastname }}
                    </div>
                </div>

            {% endif %}


            <!-- Post Content -->
            <p>{{ postInfo.content|markdown }}</p>

        </div>

        <!-- Sidebar card collect. example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_profile_card-->
        <div class="col-md-4">

            <div class="card col-md-3">
                {% if totalAmount is null %}
                <p><h1>0 € </h1> <span><small>quyên góp được</small></span></p>
                {% else %}
                <p><h1>{{ totalAmount }} € </h1> <span><small>quyên góp được</small></span></p>
                {% endif %}

                <p> <span><i class="fas fa-user"></i></span> {{ transaction.count }} người tham gia</p>
                <p><span><i class="far fa-clock"></i></span> <span>con lai X ngày</span></p>

                <div id="btn-transaction" onclick="location.href='{{ path('app_payment', {uniquekey: postInfo.uniquekey}) }}'">
                    <span>Quyên góp</span>

                </div>


                <!-- share button facebook. example here : https://developers.facebook.com/docs/plugins/share-button/  and https://codepen.io/kjkta/pen/rxawKL -->
                <div id="fb-share-button">
                    <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                        <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
                    </svg>
                    <span>Chia sẻ qua facebook</span>
                </div>

            </div>


    </div>


</div>

    <div class="row">
        <div class="col-lg-8 showpost">
            <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-listParticipant-tab" data-toggle="pill" href="#pills-listParticipant" role="tab" aria-controls="pills-listParticipant" aria-selected="true">Danh sách tham gia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-comment-tab" data-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-comment" aria-selected="false">Gửi lời động viên</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-listParticipant" role="tabpanel" aria-labelledby="pills-listParticipant-tab">


                        <div class="col-md-12 row" style="margin: 1rem 0 1rem; padding: 5px;">
                            {% if TotalAnonymous is not null %}
                            <div class="media col-md-4" style="margin: 0.5rem 0 0.5rem">
                                <img class="d-flex mr-3 rounded-circle icone-user" src="{{ asset('uploads/user icon.png') }}"  alt="">
                                <div class="media-body">
                                    <small class="mt-0">Ẩn danh</small>
                                    <br>
                                    <div  style="white-space: pre-wrap;">{{ TotalAnonymous }} €</div>
                                </div>
                            </div>
                            {% endif %}
                            {% for transactionpost in TransactionThisPost %}
                            <div class="media col-md-4" style="margin: 0.5rem 0 0.5rem">
                                <img class="d-flex mr-3 rounded-circle icone-user" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <small class="mt-0">{{ transactionpost.user.firstname }} {{ transactionpost.user.lastname }}</small>
                                    <br>
                                    <div  style="white-space: pre-wrap;">{{ transactionpost.amount }} €</div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>


                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">

                    <div style="margin-top: 1.25rem;margin-bottom: 1.25rem;">
                        {% if is_granted('ROLE_USER') %}
                        {{ include('comment/addComment.html.twig') }}
                        {% else %}
                            <div style="text-align: center">
                                <span>Vui lòng đăng nhập để comment</span>
                                <br>
                                <button onclick="location.href='{{ path('app_login') }}'">Đăng nhập</button>
                            </div>

                        {% endif %}
                    </div>

                    {% for c in comment %}
                        {% if c.isDeleted == false %}
                            <!-- Single Comment -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <small class="mt-0">{{ c.user.firstname }} {{ c.user.lastname }}</small>
                                    <br>
                                    <div  style="white-space: pre-wrap;">{{ c.content }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>

</div>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });

            var fbButton = document.getElementById('fb-share-button');
            var url = window.location.href;

            fbButton.addEventListener('click', function() {
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + url,
                    'facebook-share-dialog',
                    'width=800,height=600'
                );
                return false;
            });

        </script>

        <script src="{{ asset('js/post.js') }}"></script>
    {% endblock %}

