{% apply inline_css(source('@styles/email.css')) %}
    <!doctype html>
    <html lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% trans %}Tạm ngừng dự án{% endtrans %} {{ post_name }}</title>
    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('app_homepage') }}">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="Logo">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">{% trans %}Thông tin về dự án của bạn{% endtrans %}</h1>
                <p class="block">
                    {% trans %}Chúng tôi xin phép tạm ngưng dự án: {% endtrans %}{{ post_name }} {% trans %}tại YoYo.{% endtrans %}

                </p>
                <div class="block">
                   {% trans %} Chúng tôi tạm dừng dự án của các bạn dưới các lý do dưới đây: {% endtrans %}
                    {{ raison|raw }}
                </div>

                <p class="block">
                    {% trans %}Mong bạn hiểu và thông cảm cho chúng tôi. Nếu bạn có thắc mắc có thể
                    liên hệ trực tiếp với chúng tôi.{% endtrans %}
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    {% trans %}Thân,{% endtrans %}
                    <br><br>
                    Yoyo
                </p>
                <p class="block bottom text-center">
                    {% trans %}Dự án của Viet Son NGUYEN{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}