{% apply inline_css(source('@styles/email.css')) %}
    <!doctype html>
    <html lang="vn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <title>Dự án {{ post_name }} đã tới hạn cuối</title>
    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('app_homepage') }}">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" class="logo" alt="Logo">
                </a>
            </div>

            <div class="content">
                <h3 class="text-center"></h3>
                <div class="block">
                    Dự án: {{ post_name }} của bạn đã tới hạn chót.
                </div>
                <div class="block">
                    Tới thời điểm hiện tại, bạn đã quyên góp được: {{ collected_amount }} / {{ target_amount }} € tại YoYo.
                </div>

                {% if collected_amount < target_amount %}
                    <div class="block">
                        Bạn có thể tiếp tục gia hạn cho dự án của bạn. Hoặc bạn có thể ngừng dự án và chúng tôi sẽ bắt đầu quá trình chuyển tiền cho bạn
                    </div>
                    <div class="block-button">

                            <div>
                                <a href="{{ url('app_extend_post', {uniquekey: post_uniqueKey}) }}" class="btn-extend-post text-center">Gia hạn dự án</a>
                                <a href="{{ url('app_transfert_fund', {uniquekey: post_uniqueKey}) }}" class="btn-transfert-fund text-center">Kết thúc dự án</a>
                            </div>

                    </div>



                {% else %}
                    <div class="block">
                        Trong file đính kèm là danh sách chi tiết các đóng góp cho dự án của bạn.
                    </div>
                    <p class="block text-center">
                        <a href="{{ url('show_post', {uniquekey: post_uniqueKey}) }}" class="btn">Xem dự án</a>
                    </p>
                    <div class="block">
                        Chúng tôi sẽ bắt đầu quá trình chuyển tiền cho dự án của bạn. Bạn sẽ nhận được thông tin chi tiết về các khoản đóng góp.
                    </div>
                {% endif %}
                <div class="block">
                    Cảm ơn bạn đã tin tưởng chúng tôi. Hy vọng trong tương lai gần chúng ta có thể làm việc cùng nhau
                </div>
            </div>
            <div class="footer">
                <p class="block">
                    Thân,<br><br>
                    Yoyo
                </p>
                <p class="block bottom text-center">
                    Dự án của Viet Son NGUYEN
                </p>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}